<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Lights - How To Use</title>
</head>
<body>
    <h1>How To Use LED Lights</h1>
    <section>
        <h2>Channel Point Redemptions</h2>
        <p>Chat can control the lights by using channel point redemptions. There are 3 redemptions chat can use. More details below.</p>
        <section>
            <h3>Change Christmas Tree Lights: 200 Flick Coin</h3>
            <img src="/Images/ChannelPoint1.png" alt="Channel Point Redemption for 200 points">
            <p>This channel point redemption has the most functionality to mix and match different light shows. Lightshows and how to use them are below.</p>
            <section>
                <h4>Solid</h4>
                <p>Solid Lightshow is just that, it sets the tree to a solid color. If you mix and match it turns the tree the given color for 5 seconds</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"hex or Default Color" or "solid hex or Default Color"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"#FF0000" or "solid #FF0000"</p>
                    <p>"red" or "solid red"</p>
                </div>
            </section>
            <section>
                <h4>Rainbow</h4>
                <p>Rainbow changes the color of the tree in a fade pattern for each color in the rainbow.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"rainbow"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"rainbow"</p>
                </div>
            </section>
            <section>
                <h4>Rainbow Cycle</h4>
                <p>Rainbow Cycle shows all the colors of the rainbow and cycles them to the top of the tree and repeats.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"rainbowcycle"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"rainbowcycle"</p>
                </div>
            </section>
            <section>
                <h4>Color Wipe</h4>
                <p>Color Wipe starts with the first led on the top of the tree and slowly changes each pixel to the color provided. Best used in mix and match.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"colorwipe hex / Default Color"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"colorwipe #FF0000" or "colorwipe red"</p>
                </div>
            </section>
            <section>
                <h4>Color Wipe Reverse</h4>
                <p>Color Wipe Reverse starts with the last led on the bottom of the tree and slowly changes each pixel to the color provided. Best used in mix and match.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"colorwipereverse hex / Default Color"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"colorwipereverse #FF0000" or "colorwipereverse red"</p>
                </div>
            </section>
            <section>
                <h4>Color Twinkle</h4>
                <p>Color Twinkle requires two colors to be passed and it alternates between the two colors. Turning them off and on. Red and Blue would look like police lights. By default second color is white.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>"colortwinkle hex / Default Color hex / Default Color"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"colortwinkle #FF0000 #0000FF" or "colortwinkle red blue"</p>
                </div>
            </section>
            <section>
                <h4>Mix and Match</h4>
                <p>You can use any of the above to create your own light shows. You can combinded as many as you like.</p>
                <div>
                    <h5>Syntax</h5>
                    <p>Use each light shows syntax</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"colortwinkle #FF0000 #0000FF colorwipe #FFFFFF colorwipereverse #ab34FF (implided solid)#FF0000" or "colortwinkle red blue colorwipe white colorwipereverse #ab34FF (implided solid)red"</p>
                </div>
            </section>
                <h4>Default Colors</h4>
                <p>Below is a list of all the default colors you can use.</p>
                <div>
                    <h5>Colors</h5>
                    <ul>
                        <li>Red</li>
                        <li>Blue</li>
                        <li>Green</li>
                        <li>Orange</li>
                        <li>Pink</li>
                        <li>Cyan</li>
                        <li>white</li>
                        <li>Black</li>
                        <li>Purple</li>
                        <li>Yellow</li>
                    </ul>
                </div>
            </section>
        </section>
        <section>
            <h3>Color Flash Christmas Tree Lights: 1000 Flick Coin</h3>
            <img src="/Images/ChannelPoint2.png" alt="Channel Point Redemption for 1000 points">
            <p>This channel point allows you to make the tree flash any color you provide for 10 seconds.</p>
            <section>
                <div>
                    <h5>Syntax</h5>
                    <p>"hex or Default Color"</p>
                </div>
                <div>
                    <h5>Examples</h5>
                    <p>"#FF0000"</p>
                    <p>"red"</p>
                </div>
            </section>
        </section>
        <section>
            <h3>Rainbow Flash Christmas Tree Lights: 2500 Flick Coin</h3>
            <img src="/Images/ChannelPoint3.png" alt="Channel Point Redemption for 2500 points">
            <p>This channel point allows you to make the tree flash in a rainbow uninterupted by any events. There is a 5 min cooldown.</p>
        </section>
        <section>
            <h3>Event Lightshows</h3>
            <p>All of the following channel events will show a customized lightshow when each of the following event happen on the channel.</p>
            <ul>
                <li>Follow</li>
                <li>Bits</li>
                <li>Subs</li>
                <li>ReSubs</li>
                <li>GiftSubs</li>
                <li>Community GiftSubs</li>
                <li>Raid</li>
            </ul>
        </section>
    </section>
</body>
</html>